<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-live-upgrade"
    version="0.0.2">

    <name>LiveUpgrade</name>
    <description>Cordova plugin for update APP</description>
    <license>MIT</license>
    <keywords>cordova,app,update</keywords>

    <!--require cordova version -->
    <engines>
        <engine name="cordova" version=">=6.0" />
    </engines>
    <!-- js module-->
    <js-module src="www/liveUpgrade.js" name="liveUpgrade">
        <clobbers target="liveUpgrade" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppUpdate">
                <param name="android-package" value="com.appupdate.update.AppUpdate"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">    
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
        </config-file>

        <source-file src="src/android/AppUpdate.java" target-dir="src/com/appupdate/update" />
        <source-file src="src/android/Decompressor.java" target-dir="src/com/appupdate/update" />
        <source-file src="src/android/Downloader.java" target-dir="src/com/appupdate/update" />
        <source-file src="src/android/FileUtils.java" target-dir="src/com/appupdate/update" />
        <source-file src="src/android/Updater.java" target-dir="src/com/appupdate/update" />
        <source-file src="src/android/ManifestEntity.java" target-dir="src/com/appupdate/update" />
    </platform>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AppUpdate">
                <param name="ios-package" value="AppUpdate"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        
        
        <header-file src="src/ios/AppUpdate.h" />
        <source-file src="src/ios/AppUpdate.m" />
        <header-file src="src/ios/FileHelper.h" />
        <source-file src="src/ios/FileHelper.m" />
        <header-file src="src/ios/GetUpdateInfoHelper.h" />
        <source-file src="src/ios/GetUpdateInfoHelper.m" />
        <header-file src="src/ios/NetworkObject.h" />
        <source-file src="src/ios/NetworkObject.m" />
        <header-file src="src/ios/Reachability.h" />
        <source-file src="src/ios/Reachability.m" />
        <header-file src="src/ios/zip/ZipArchive.h" />
        <source-file src="src/ios/zip/ZipArchive.m" />
        <header-file src="src/ios/zip/minizip/crypt.h" />
        <header-file src="src/ios/zip/minizip/ioapi.h" />
        <source-file src="src/ios/zip/minizip/ioapi.c" />
        <header-file src="src/ios/zip/minizip/mztools.h" />
        <source-file src="src/ios/zip/minizip/mztools.c" />
        <header-file src="src/ios/zip/minizip/unzip.h" />
        <source-file src="src/ios/zip/minizip/unzip.c" />
        <header-file src="src/ios/zip/minizip/zip.h" />
        <source-file src="src/ios/zip/minizip/zip.c" />
        
        <framework src="libz.tbd" />
    </platform>

    
</plugin>
